<?xml version="1.0" encoding="utf-8"?>
<!-- Debug builds only: lets Capacitor live reload (http dev server) merge cleanly. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic" />
</manifest>
